body {
	background: url(../img/bg-wallpaper.jpg);
}

.table th {
	border-color: black;
}

.table td {
	border-color: black;
}

.page-link {
	background-color: transparent;
	border-color: #000000;
	color: #000000;
}

.page-link:hover {
	background-color: #c0c0c0;
	border-color: #000000;
	color: #000000;
}

.page-item.active .page-link {
	background-color: #363f4a;
	border-color: #000000;
}